<% const meta={ title: 'ウェブテンプレート' , desc: 'これは、ウェブ開発のテンプレートです' , }; %>
  <!DOCTYPE html>
  <html lang="ja">

  <head>
    <%- include('../components/_head', meta) %>
  </head>

  <body>
    
  </body>

  </html>