@use "../abstracts" as *;
@use "../mixins" as *;

.top {
  margin-top: 8rem;

  h1 {
    font-size: 4rem;
  }

  p.pragraph {
    margin-top: 2.4rem;
  }

  a.button {
    display: inline-flex;
    gap: 0 0.8rem;
    padding: 2.4rem 4rem;
    margin-top: 2.4rem;
    background-color: $color-white;
    border: solid 1px $color-black;

    img {
      width: 20px;
    }
  }
}
