<%
const meta = {
  title: 'About ウェブテンプレート',
  desc: 'About これは、ウェブ開発のテンプレートです',
};
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../../components/_head', meta) %>
</head>


</body>

</html>